<html>
	{% load static %}

<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<link rel="stylesheet" href={% static 'style.css' %}>
<script type="text/javascript">
	function shownavright()
	{
		if(document.getElementById('rightnav').style.display=="none")
	{
		
		document.getElementById('rightnav').style.display="block";
	}
	else
	{
		document.getElementById('rightnav').style.display="none";
	}
	}
</script>
	<script type="text/javascript">
	function ajaxCall() {
	            $.ajax({
	            url: 'http://127.0.0.1:8000/view/',
	            type: "GET",
				datatype:"html",
	            success: function(data) {
	            let x =data;
				$("Content").html(data);
	            },
	            error: function(error) {
	            console.log(`Error ${error}`);
	            }
	            });
	            }	


</script>
<style>
	a:hover{
		background-color:rgb(249, 244, 247);
		transition: background-color 1s ease;
		cursor:pointer;
	}
	#right1{
		cursor: pointer;
	}
</style>

</head>
<body style="color:black;">
{% csrf_token %}
<div id="Main1" style="display:grid;grid-template-rows: 1fr 2fr;">
<div id="Main" style="display:grid;grid-template-columns: 1fr 2fr 1fr;">
<div id="Left" style="padding-right: 10px;">
	<nav id="Nav" style="background-color: rgb(87, 197, 244);overflow-y: auto; overflow-x: fixed;color:rgb(248, 245, 245);">
		<ul style="list-style:None;">
		<p>
			<li><img src="/static/cdaclogo.png" width="100px" height="100px"></li>  
		</p>
		<p>  <li><a href="/home" style="background-color: aliceblue;"><span class="glyphicon glyphicon-home">Home</span></a></li>
		</p>
		<p>
		<li><a href="/view"  style="color:rgb(14, 14, 14);font-size:16px;"><span class="glyphicon glyphicon-eye-open"></span> View Documents</a></li>
		</p>
		<p>
		<li><a href="/view1"  style="color:rgb(20, 19, 19);font-size:16px;"><span class="glyphicon glyphicon-film"></span> View Videos</a></li>
		</p>
		<p>
		<li><a href="/search"  style="color:rgb(14, 14, 14);font-size:16px;"><span class="glyphicon glyphicon-search"></span> Search Documents</a></li>
		</p>
		<p>
		<li><a href="/search_video"  style="color:rgb(14, 14, 14);font-size:16px;"><span class="glyphicon glyphicon-hd-video"></span> Search Videos</a></li>
		</p>
		<p>
		<li><span style="color:black;">Hello {{ user.email }}</span></li>
		</p>    
	</ul>
</nav>
</div>
<div id="Content" style="overflow: scroll;align-items: center;">
	<center>
		<h1 style="font-family: 'Times New Roman', Times, serif;font-size:larger">Latest Videos</h1>
	<table>
	<tr scope="row">
	{% for x in files %}
		<td scope="col" style="padding-right: 2vh;">
			<video width="200" height="200"  controls controlsList="nodownload" >
			  <source src={{'/media/'}}{{x.document}}  type="video/mp4">
			</video>
			<br>
			<p>{% for tag in x.tags.all %}
			<div class="badge bg-secondary">{{ tag.name }}</div>
			{% endfor %}</p>
		</td>
	{%endfor%}
	</tr>
    </table>
	<h1 style="font-family: 'Times New Roman', Times, serif;font-size: larger;">Latest Documents</h1>
	<table>
		<tr scope="row">
		{% for x in files1 %}      
      <td style="color:black;padding: 20px;margin-bottom: 25px;">
		<img src="/static/pdf-1.png" width="150vh" height="150vh"></img>
	  
    	<p align="left">{% for tag in x.tags.all %}
			<div class="badge bg-secondary">{{ tag.name }}</div>
			{% endfor %}</p>
	    <p align="right">  
			<button class="btn btn-primary btn-sm"><a href="/viewfile/{{x.id}}" target="_blank"><span style="color:rgb(15, 15, 15);"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f"><path d="M240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v240h-80v-200H520v-200H240v640h360v80H240Zm638 15L760-183v89h-80v-226h226v80h-90l118 118-56 57Zm-638-95v-640 640Z"/></svg></span></a></button>
        </p>
	    {% endfor %}
		</tr>
	</table>
</center>
</div>
<div id="Right">
<span id="right1" align="right" style="color:rgb(6, 0, 128);font-size:20px;border-bottom: solid 0.5px;" onclick="shownavright();">{{ user.get_full_name }}</span>
<span id="rightnav" style="display:none;background-color: antiquewhite;border: solid 1px;">  
<p><img src="{{ '/media/pic/' }}{{ picture }}" style="border-radius: 40%;" width="50px" height="50px" align="right"></img></p>

	<p align="left" style="border-bottom: salmon 1px;"><a href="/Picture">Update profile</a></p>
  <p align="left"><a href="/logout">Logout</a></p>
</span>
</div>
</div>
<div style="padding-top: 1vh; padding-left:50vh;">
	{% include 'footer.html' %}
</div>
</div>

</body>
</html>