<html>
    <head>
      <style type="text/css">
        
      </style>
      <script type="text/javascript">
      
      </script>
    </head>
    <body background-image="url('/static/3dprinting_jpg_banner.png');">
        <div style="position:absolute;top:300px;left:500px;border-style: double;border-width: 2px;margin:10px;">
        <form method="post">
          {% csrf_token %}
          <div class="field">
          <label>Password</label><span id="pass1">{{ form.password }}</span>
          <br>
          <label>Retype Password</label><span id="pass2">{{form.retype}}</span>
        </div>
          <div class="actions">
            <button class="btn-primary" type="submit">Update Password</button>
          </div>
        </form>
        </div>

    </body>
</html>